# Admin Email ( To Access Admin Routes )
ADMIN_EMAIL="ak811.backup@gmail.com"

# MongoDB
MONGODB_URI='mongodb+srv://ott-platform-app:ott-platform-app@ott-platform-app.r1py2n0.mongodb.net/?appName=OTT-platform-app'

# Clerk
CLERK_PUBLISHABLE_KEY=pk_test_aW1tdW5lLWpheS0yMy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_tGeZLlQdLjQjPn14ZrPtgoWSy6jc0TEI7Vk4vUWNXH
CLERK_WEBHOOK_SIGNING_SECRET=whsec_0Ujqka23EvbFra_n_rklCh-LaWDbr-Not
# CLERK_WEBHOOK_SIGNING_SECRET='whsec_0Ujqka23EvbFra/nrklCh+LaWDbr+Not'

# Cloudinary
CLOUDINARY_CLOUD_NAME='dumkm8ntz'
CLOUDINARY_API_KEY='238643538464341'
CLOUDINARY_API_SECRET='4sQ3jM_mPBDNiqBrlf9GGLMepvU'

# Stripe ( optional ) setup if want stripe payment
STRIPE_SECRET_KEY='sk_test_51TTlitQDOoCSZtPMHIv3iwrjqXLrqZpVsALzM3YtF9YzNiIcwRdkdfQn5HzBd2g3QFeyLyGh4C2FmbfizunZChj200gyhD52Br'
STRIPE_WEBHOOK_SECRET='whsec_tPAmh9YGldOH4A27rqqGIRMfO6gdWKsN'


RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx